 <div class="toolbar">
      <button mat-raised-button color="primary" [routerLink]="['/admin/classes/create']">
        <mat-icon>person_add</mat-icon> Tạo lớp học
      </button>
  </div>

 <table mat-table [dataSource]="classes" class="mat-elevation-z8">

    <ng-container matColumnDef="classId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let class">{{class.classId}}</td> <!-- sửa phần này -->
    </ng-container>
    <ng-container matColumnDef="className">
      <th mat-header-cell *matHeaderCellDef>Tên lớp</th>
      <td mat-cell *matCellDef="let class">{{class.className}}</td>
    </ng-container>
    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef>Khối</th>
      <td mat-cell *matCellDef="let class">{{class.grade}}</td>
    </ng-container>
    
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let class">
        <button mat-button [routerLink]="['/admin/classes/detail', class.classId]">View</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  