<form [formGroup]="accountForm" (ngSubmit)="onSubmit()" style="max-width: 400px; margin: auto;">
  <!-- Username -->
  <mat-form-field class="w-full">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username">
  </mat-form-field>

  <!-- Password -->
  <mat-form-field class="w-full">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Toggle password visibility'" type="button">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>

  <!-- Role -->
  <mat-form-field class="w-full">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role" (selectionChange)="onRoleChange($event.value)">
      <mat-option *ngFor="let r of roles" [value]="r">{{ r }}</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="w-full" *ngIf="selectedRole === 'DEPARTMENT'">
    <mat-label>Phòng ban</mat-label>
    <mat-select formControlName="departmentId">
      <mat-option *ngFor="let d of departments" [value]="d">{{ d }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Submit -->
  <button mat-raised-button color="primary" type="submit" [disabled]="accountForm.invalid">
    Tạo tài khoản
  </button>
</form>
