<div class="notification-container mat-elevation-z2">
  <h2>Danh sách thông báo</h2>

  <table mat-table [dataSource]="notifications" class="mat-elevation-z1" *ngIf="notifications.length > 0; else noNotification">

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Tiêu đề </th>
      <td mat-cell *matCellDef="let notification"> {{ notification.title }} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Thao tác </th>
      <td mat-cell *matCellDef="let notification">
        <button mat-button color="primary" (click)="openNotificationDetail(notification)">Xem</button>
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <ng-template #noNotification>
    <p>Không có thông báo nào.</p>
  </ng-template>

  <div class="create-button-container">
    <button mat-raised-button color="accent" [routerLink]="['/admin/notifications/create']">
      <mat-icon>add</mat-icon> Tạo thông báo mới
    </button>
  </div>
</div>
